/* ::::: http://www.teplowoda.ru/components/com_jcomments/tpl/default/style.css?v=12 ::::: */

#jc a:link, #jc a:visited, #jc a:hover { outline: medium none; }
#jc h4 { color: rgb(85, 85, 85); background-color: inherit; font-weight: bold; text-align: left; border-bottom: 1px solid rgb(123, 123, 123); padding: 0px 0px 2px; margin-bottom: 10px; }
#comments { margin: 0px; padding: 0px; width: 100%; text-align: left; text-decoration: none; text-transform: none; text-indent: 0px; }
#comments-form, #comments-form p, #comments-report-form, #comments-report-form p, #comments-form span, #comments-form .counter { text-align: left; text-decoration: none; text-transform: none; text-indent: 0px; }
#comments-form p, #comments-report-form p, #comments-form span, #comments-form .counter { color: rgb(119, 119, 119); font: 1em Verdana,Arial,sans-serif; }
#comments-form p, #comments-form #comments-form-buttons, #comments-form #comments-form-error, #comments-form #comments-form-captcha-holder { font: 1em Verdana,Arial,sans-serif; margin-left: 20px !important; margin-top: 10px; margin-bottom: 8px; overflow: hidden; padding: 0px; }
#comments-form img.captcha { padding: 0px; margin: 0px 0px 3px; border: 1px solid rgb(204, 204, 204); }
#comments-form span.captcha { padding: 0px 0px 0px 12px; color: rgb(119, 119, 119); background: rgba(0, 0, 0, 0) url('jc_refreshg.gif') no-repeat scroll 0px 2px; cursor: pointer; }
#comments-form label, #comments-report-form label { color: rgb(119, 119, 119); background-color: inherit; line-height: 1.5em; padding: 0px; margin: 0px; vertical-align: middle; }
#comments-form input, #comments-report-form input, #comments-form textarea { color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); padding: 0px !important; margin: 0px; border: 1px solid rgb(204, 204, 204); }
#comments-form input { width: 170px; margin-bottom: 2px; height: 1.5em; }
#comments-form input.captcha { width: 116px; margin: 3px 0px 5px; }
#comments-form textarea { max-width: 400px !important; width: 350px; margin: 0px; }
#comments-form .grippie { height: 13px; display: block; overflow: hidden; color: rgb(204, 204, 204); padding: 0px; margin: 0px; border-width: 0px 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; max-width: 400px !important; width: 350px; cursor: s-resize; background: rgb(238, 238, 238) url('resize.gif') no-repeat scroll right 2px; }
#comments-form .grippie .counter { font-size: 10px; padding: 0px; margin: 0px; }
#comments-form .grippie span { display: block; float: left; }
#comments-form .grippie span span { display: inline; float: none; }
#comments-form .btn, #comments-report-form .btn { float: left; background: rgba(0, 0, 0, 0) url('jc_btnl.gif') no-repeat scroll 0% 0%; margin-right: 5px; }
#comments-form .btn div, #comments-report-form .btn div { margin: 0px -1px 0px 0px; float: left; background: rgba(0, 0, 0, 0) url('jc_btnr.gif') no-repeat scroll 100% 0px; }
#comments-form .btn a, #comments-report-form .btn a { text-decoration: none; height: 22px; line-height: 22px; font-size: 12px; font-weight: bold; color: rgb(119, 119, 119); padding: 0px 5px; border: medium none; }
#comments-form .btn a:hover, #comments-report-form .btn a:hover { text-decoration: none; color: rgb(11, 85, 196); }
#comments-footer, #comments-footer a { color: rgb(204, 204, 204) !important; background-color: inherit; font: 9px Verdana,Arial,sans-serif !important; }
#comments-footer { display: block; height: 14px; border-top: 1px solid rgb(123, 123, 123); padding-top: 1px; margin-top: 4px; text-align: right; }
/* ::::: http://www.teplowoda.ru/templates/gk_cuttingedge/css/template_css.css ::::: */

@media screen and (min-width: 764px) {
	.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
	#cbp-spmenu-s1, #showLeft { display: none; }
	body { margin: 0px; font-family: "Exo 2",sans-serif; }
	a { transition: all 0.3s ease 0s; }
	#wrapper { background: rgb(224, 255, 216) url('back1.png') repeat-x scroll 0% 0%; width: 100%; border-top: 3px solid rgb(122, 145, 169); }
	ul li { margin-bottom: 2px; }
	.snap-drawers, .buttons-mob { display: none; }
	.rezhim { font-size: 11px; color: rgb(0, 0, 0); }
	#header { background: rgb(49, 63, 102) none repeat scroll 0% 0%; border-bottom: 10px solid rgb(149, 170, 191); box-shadow: 0px 2px 0.5px rgb(126, 148, 172); height: 190px; }
	.head-main { margin: 0px auto; width: 1280px; }
	.logo { float: left; width: 300px; position: relative; }
	.logo a.obomne { text-decoration: none; color: rgb(255, 255, 255); display: block; background: rgb(78, 90, 121) none repeat scroll 0% 0%; width: 80px; position: absolute; padding: 2px 15px; text-align: center; border-radius: 15px; bottom: -15px; left: 87px; font-size: 13px; z-index: 999; }
	.logo img { width: 300px; height: 200px; }
	.head { float: right; width: 980px; }
	.menu { height: 44px; width: 100%; background: rgba(0, 0, 0, 0) url('menu-button.png') repeat-x scroll 0% 0%; }
	.menu_main { margin: 0px; padding: 0px; }
	.menu_main li { float: left; list-style: outside none none; text-align: center; width: 163px; font-size: 15px; background: rgba(0, 0, 0, 0) url('menu-spacer.png') no-repeat scroll right 0px; position: relative; }
	.menu_main li.lowcase a { padding: 5px 0px; text-transform: lowercase; }
	.menu_main li.lowcase a span { text-transform: capitalize; }
	.menu_main li a { display: block; color: rgb(166, 183, 203); text-decoration: none; padding: 13px 0px; }
	.menu_main > li > a { text-transform: uppercase; }
	.menu_main li.last { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font-size: 18px; }
	.menu_main li a:hover { background: rgba(0, 0, 0, 0) url('menu-hover.png') no-repeat scroll 0% 0%; color: rgb(170, 233, 250); }
	.menu_main li.last a:hover { background-size: 100% auto; }
	.menusub { position: absolute; left: -1e+7px; background: rgb(49, 63, 102) none repeat scroll 0% 0%; margin: 0px; padding: 0px; z-index: 1111; }
	.menu_main li ul.menusub li { width: 224px; }
	ul.menusub li { border-width: medium medium 1px; border-style: none none solid; border-color: currentcolor currentcolor rgb(149, 170, 191); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font-size: 14px; }
	ul.menusub li a:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; }
	ul.menusub li a { padding: 7px 10px; }
	.menu_main li:hover ul { left: 0px; }
	.hed-info { background: rgba(0, 0, 0, 0) url('head-fon.jpg') no-repeat scroll 0% 0%; height: 96px; padding: 40px 20px 20px; }
	.hinf-l table td, .hinf-r table td { padding: 0px 8px 5px 0px; vertical-align: top; }
	.hinf-l, .hinf-r { float: left; width: 290px; font-size: 17px; }
	.hinf-l p, .hinf-r p { color: rgb(193, 199, 214); margin: 0px; }
	.hinf-l span, .hinf-r span { color: rgb(64, 81, 117); font-family: "Questrial",sans-serif; font-weight: bold; }
	.hinf-l span a, .hinf-r span a { color: rgb(64, 81, 117); text-decoration: none; }
	div.hinf-r span { font-weight: normal; text-align: center; font-size: 11px; }
	.hinf-c { float: left; width: 300px; }
	.hinf-c img { margin: 10px auto 0px; display: block; }
	.hinf-r { float: right; width: 340px; }
	#middle { width: 1280px; margin: 0px auto; }
	.sidebar h4, .sidebar1 h4 { color: rgb(255, 255, 255); text-align: center; font-size: 14px; padding: 0px 15px; }
	.sidebar1 { float: left; width: 300px; background: rgba(0, 0, 0, 0) url('sidebar.png') repeat-x scroll 0% 0%; }
	p.side-head { color: rgb(49, 63, 102); text-align: center; font-size: 20px; margin: 15px 8px; font-weight: bold; }
	.menu_dop-menu-1 { margin: 0px 0px 20px; padding: 0px 25px; }
	.menu_dop-menu-1 li { list-style: outside none none; text-align: center; margin-top: 8px; }
	.menu_dop-menu-1 li a { color: rgb(59, 73, 101); text-decoration: none; display: block; border: 1px solid rgb(165, 184, 204); background: rgb(218, 227, 235) none repeat scroll 0% 0%; padding: 7px 20px; }
	.box-tema { padding: 0px 14px; margin: 0px 0px 45px; }
	.box-tema p { padding: 18px 0px 12px; text-align: center; background: rgb(220, 230, 239) none repeat scroll 0% 0%; color: rgb(61, 74, 111); font-size: 25px; border-radius: 25px 25px 0px 0px; margin: 0px; }
	.tema { background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow-y: scroll; height: 361px; box-shadow: 0px 4px 8px rgb(179, 178, 178) inset; border-radius: 0px 0px 0px 26px; }
	.menu_tema { margin: 0px; padding: 16px 0px 0px 20px; width: 80%; }
	.menu_tema li { list-style: outside none none; border-bottom: 2px solid rgb(234, 237, 242); margin-bottom: 15px; }
	.menu_tema li a { text-decoration: none; color: rgb(61, 74, 111); font-size: 17px; }
	.sovety-box { padding: 0px 20px; }
	.sovety-box span { display: block; color: rgb(53, 84, 123); font-size: 20px; text-align: center; margin: 20px 0px; }
	#container1 { width: 940px; float: right; background: rgb(224, 254, 216) url('content.png') repeat-x scroll 0% 0%; padding: 10px 20px; position: relative; }
	input, textarea { outline: medium none; }
	.sertificate { text-align: center; }
	.sertificate + a img { display: block; margin: 0px auto; }
	.sert-box { padding-bottom: 258px; }
	.resh-topor p:nth-child(1) { margin: 0px; padding: 16px 0px; font-size: 22px; color: rgb(50, 68, 94); text-align: center; width: 374px; float: left; }
	.resh-topor p:nth-child(2) { margin: 0px; padding: 16px 25px; font-size: 22px; color: rgb(50, 68, 94); text-align: center; float: right; }
	.foot-top img { width: 100%; }
	.foot-top { position: relative; }
	.foot-bot { height: 250px; background: rgb(49, 63, 102) none repeat scroll 0% 0%; width: 1280px; margin: 0px auto; }
	.foot-bottom { background: rgb(49, 63, 102) none repeat scroll 0% 0%; z-index: 99999999; position: relative; }
	.foot-l { width: 440px; float: left; background: rgb(75, 98, 125) none repeat scroll 0% 0%; padding: 15px 15px 15px 30px; height: 220px; }
	.foot-l p { color: rgb(127, 165, 205); font-size: 18px; }
	.foot-l p a { color: rgb(157, 187, 217); }
	.foot-c { width: 309px; float: left; height: 250px; }
	.menu_footer { margin: 30px 0px; padding: 0px; }
	.menu_footer li { list-style: outside none none; text-align: center; }
	.menu_footer li a { color: rgb(157, 187, 217); display: block; text-decoration: none; padding: 7px 0px; text-transform: uppercase; font-size: 19px; }
	.foot-r { float: right; width: 206px; background: rgb(75, 98, 125) none repeat scroll 0% 0%; padding-left: 279px; height: 250px; }
	.foot-rtop { padding-top: 20px; padding-bottom: 70px; }
	.foot-rtop p { text-align: center; color: rgb(127, 165, 204); margin: 5px 0px; font-size: 19px; padding-right: 20px; }
	.hinf-l table tbody tr td span a { font-size: 15px; }
	.image-popup { opacity: 0; display: none; left: 0px; position: absolute; z-index: 100; top: -378px; }
	#footer { z-index: 99999999; position: relative; }
	a.flo, .flo1 { display: block; text-align: center; color: rgb(255, 255, 255); text-decoration: none; padding: 6px 11px; border: 3px solid rgb(255, 255, 255); margin: 20px 25px; font-size: 14px; font-family: sans-serif; text-shadow: 1px 1px 1px rgb(113, 113, 113); }
	a.flo1 { color: rgb(249, 255, 249); background: rgb(49, 63, 102) none repeat scroll 0% 0%; }
	.flaat { position: fixed; bottom: 0px; right: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 204px; color: rgb(119, 119, 119); border-radius: 12px 0px 0px; font-family: sans-serif; z-index: 9; }
	#pwmsg::after { content: "не меньше 8ми символов"; font-size: 12px; color: red; }
	.cbUserListFC_cb_inter::after { content: "оценка мастера от ТеплоВода"; font-size: 14px; width: 136px; display: inline-block; margin-top: -26px; margin-left: 35px; color: rgb(43, 42, 43); }
	.cbUserListChanger::before { content: "Выберите свой регион"; display: block; position: absolute; }
	div.photo_cb_form form::after { content: "Максимальный размер файла - 2мб"; font-size: 14px; }
	.cbUserListResultCount strong::before { content: "Мастеров в списке:"; margin-right: 10px; font-weight: 100; }
}
/* ::::: http://www.teplowoda.ru/templates/gk_cuttingedge/css/typography.css ::::: */

.contentpaneopen ul, .contentpaneopen ol, ul, ol { list-style-image: url('list.png'); }
a { color: rgb(81, 81, 81); outline: medium none; text-decoration: underline; }
a:hover { text-decoration: none; }
#content p { font-size: 15px; line-height: 140%; }
img { border: medium none; }
input { vertical-align: middle; }
ul { margin: 10px 0px 10px 35px; }
.sovety-box, .sovety-box a { color: rgb(53, 84, 123); }
/* ::::: http://www.teplowoda.ru/templates/gk_cuttingedge/css/suckerfish.css ::::: */

@media screen and (max-width: 764px) {
	.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
	body { margin: 0px; font-family: "Exo 2",sans-serif; }
	a { transition: all 0.3s ease 0s; }
	ul, ol { padding: 0px; }
	img { max-width: 100%; }
	#wrapper { background: rgb(224, 255, 216) url('back1.png') repeat-x scroll 0% 0%; border-top: 3px solid rgb(122, 145, 169); padding: 10px; }
	#header { background: rgb(49, 63, 102) none repeat scroll 0% 0%; border-bottom: 10px solid rgb(149, 170, 191); box-shadow: 0px 2px 0.5px rgb(126, 148, 172); }
	.logo a img { width: 100%; }
	.logo a { text-align: center; display: block; color: rgb(255, 255, 255); }
	.buttons-mob a, a.obomne { margin: 15px 0px; }
	a.obomne { text-decoration: none; color: rgb(255, 255, 255); display: block; background: rgb(78, 90, 121) none repeat scroll 0% 0%; width: 101px; padding: 2px 15px; text-align: center; border-radius: 15px; margin: 0px auto; font-size: 16px; z-index: 999; }
	.menu-desctop { display: none; }
	.hed-info { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px 50px; }
	.hed-info table { width: 100%; }
	.hinf-c { margin: 20px 0px; }
	#popUp { display: none; }
	.sidebar, .sidebar1 { display: none; }
	.buttons-mob .flo, .buttons-mob a { display: block; text-align: center; color: rgb(255, 255, 255); text-decoration: none; padding: 6px 11px; border: 3px solid rgb(255, 255, 255); margin: 20px 25px; font-size: 14px; font-family: sans-serif; text-shadow: 1px 1px 1px rgb(113, 113, 113); }
	.buttons-mob .flo1 { color: rgb(249, 255, 249); background: rgb(49, 63, 102) none repeat scroll 0% 0%; }
	.buttons-mob h4 { color: rgb(255, 255, 255); text-align: center; }
	input, textarea { outline: medium none; }
	textarea { width: 80%; }
	tr.sectiontableheader th:nth-child(2) { width: 130px; display: block; }
	.foot-top img { width: 100%; }
	.foot-top img.image-popup { display: none; }
	.foot-bottom { background: rgb(75, 98, 125) none repeat scroll 0% 0%; padding: 10px; }
	.menu_footer li a { color: rgb(255, 255, 255); }
	.calc-replace { height: 900px; }
	#calc { width: 95%; overflow-x: scroll; position: absolute; }
	#calcTop { width: 950px; position: relative; }
	.cbp-spmenu { background: rgb(71, 163, 218) none repeat scroll 0% 0%; position: fixed; }
	.cbp-spmenu a { display: block; color: rgb(255, 255, 255); font-size: 1.1em; font-weight: 300; }
	.cbp-spmenu a:active { background: rgb(175, 222, 250) none repeat scroll 0% 0%; color: rgb(71, 163, 218); }
	.cbp-spmenu-vertical { width: 240px; height: 100%; top: 0px; z-index: 1000; }
	.cbp-spmenu-vertical a { border-bottom: 1px solid rgb(48, 89, 148); padding: 1em; }
	.cbp-spmenu-left { left: -240px; }
	.cbp-spmenu-push { overflow-x: hidden; position: relative; left: 0px; }
	.cbp-spmenu, .cbp-spmenu-push { transition: all 0.3s ease 0s; }
	@media screen and (max-width: 55.1875em) {
}
	@media screen and (max-height: 26.375em) {
	.cbp-spmenu-vertical { font-size: 90%; width: 190px; }
	.cbp-spmenu-left, .cbp-spmenu-push-toleft { left: -190px; }
}
	#showLeft { position: fixed; right: 0px; top: 0px; background: rgba(0, 0, 0, 0.58) url('open.png') no-repeat scroll center center / 70% auto; display: block; width: 44px; height: 44px; border: medium none; z-index: 2147483647; outline: medium none; }
	.cbp-spmenu ul { margin: 0px; padding: 0px 10px; }
	.cbp-spmenu ul li { list-style: outside none none; }
	.cbp-spmenu ul li a { padding: 5px 0px; display: block; }
	.cbp-spmenu h4 { padding: 0px 10px; color: rgb(0, 0, 0); font-size: 15px; }
}
/* ::::: http://www.teplowoda.ru/templates/gk_cuttingedge/css/joomla_classes.css ::::: */

/* ::::: http://www.teplowoda.ru/templates/gk_cuttingedge/css/gk_stuff.css ::::: */

/* ::::: http://fonts.googleapis.com/css?family=Questrial ::::: */

@font-face {
	font-family: "Questrial";
	font-style: normal;
	font-weight: 400;
	src: local("Questrial"), local("Questrial-Regular"), url('mywj4lym5dbz1ubuyox79ftxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: https://fonts.googleapis.com/css?family=Exo+2 ::::: */

@font-face {
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 400;
	src: local("Exo 2"), local("Exo2-Regular"), url('pebpp8gu02jri5sdg9jj6g.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 400;
	src: local("Exo 2"), local("Exo2-Regular"), url('szorrdfbcjl9e6dhdmu_tg.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Exo 2";
	font-style: normal;
	font-weight: 400;
	src: local("Exo 2"), local("Exo2-Regular"), url('-a4eijqkawkl411pgtq4va.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* ::::: http://www.teplowoda.ru/calc/css/jquery-ui.css ::::: */

.ui-helper-reset { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: outside none none; }
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
.ui-helper-clearfix { min-height: 0px; }
.ui-tabs { position: relative; padding: 0.2em; }
.ui-tabs .ui-tabs-nav { margin: 0px; padding: 0.2em 0.2em 0px; }
.ui-tabs .ui-tabs-nav li { list-style: outside none none; float: left; position: relative; top: 0px; margin: 1px 0.2em 0px 0px; border-bottom-width: 0px; padding: 0px; white-space: nowrap; }
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { float: left; padding: 0.5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor { cursor: text; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0px; padding: 1em 1.4em; background: rgb(218, 227, 235) none repeat scroll 0% 0%; color: rgb(59, 73, 101); }
.ui-widget { font-family: Arial,Helvetica,sans-serif; font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Arial,Helvetica,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid rgb(221, 221, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.ui-widget-content a { color: rgb(51, 51, 51); }
.ui-widget-header { border: 1px solid rgb(221, 221, 221); background: rgb(233, 233, 233) none repeat scroll 0% 0%; color: rgb(51, 51, 51); font-weight: bold; }
.ui-widget-header a { color: rgb(51, 51, 51); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid rgb(197, 197, 197); background: rgb(160, 181, 204) none repeat scroll 0% 0%; font-weight: normal; color: rgb(255, 255, 255); }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: rgb(255, 255, 255); text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid rgb(165, 184, 204); background: rgb(218, 227, 235) none repeat scroll 0% 0%; font-weight: normal; color: rgb(255, 255, 255); }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: rgb(59, 73, 101); text-decoration: none; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 3px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 3px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 3px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 3px; }
/* ::::: http://www.teplowoda.ru/calc/css/calc.css ::::: */

#calc { font-size: 16px; line-height: 18px; font-family: Arial,Helvetica,sans-serif; color: rgb(59, 73, 101); }
#calc label { cursor: pointer; }
#calcTabs { width: 100%; margin: 20px 0px; }
#calcMain { position: relative; width: 700px; height: 500px; padding: 0px; margin: 0px; float: left; }
#calcMain img { position: absolute; width: 100%; left: 0px; top: 0px; display: none; }
.imgActive { display: block !important; }
#calcRight { width: 217px; height: 468px; background: rgb(218, 227, 235) none repeat scroll 0px 0px; border: 1px solid rgb(165, 184, 204); padding: 10px; margin-left: 710px; }
.chb1 { margin: 4px 0px; padding: 4px 0px; }
.chb1 input[type="checkbox"] { display: none; }
.chb1 input[type="checkbox"] + label { display: inline-block; cursor: pointer; position: relative; padding-left: 25px; margin-right: 15px; }
.chb1 input[type="checkbox"] + label::before { content: ""; position: absolute; top: 0px; left: 0px; width: 14px; height: 14px; background-color: rgb(255, 255, 255); border: 1px solid rgb(127, 157, 185); }
.chb1 input[type="checkbox"]:checked + label::after { content: "✓"; position: absolute; left: 1px; top: 0px; font-size: 20px; line-height: 16px; font-weight: bold; }
.lDis { opacity: 0.7; }
.lDis::before { border: 1px solid rgb(136, 136, 136) !important; }
.lDis::after { color: rgb(136, 136, 136) !important; }
.chb2 input[type="checkbox"]:not(checked) { position: absolute; opacity: 0; }
.chb2 input[type="checkbox"]:not(checked) + label { position: relative; padding: 0px 0px 0px 60px; }
.chb2 input[type="checkbox"]:not(checked) + label::before { content: ""; position: absolute; top: -4px; left: 0px; width: 50px; height: 26px; border-radius: 13px; background: rgb(205, 209, 218) none repeat scroll 0% 0%; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2) inset; }
.chb2 input[type="checkbox"]:not(checked) + label::after { content: ""; position: absolute; top: -2px; left: 2px; width: 22px; height: 22px; border-radius: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); transition: all 0.2s ease 0s; }
.chb2 input[type="checkbox"]:checked + label::before { background: rgb(49, 63, 102) none repeat scroll 0% 0%; }
.chb2 input[type="checkbox"]:checked + label::after { left: 26px; }
.rb1 { margin: 4px 0px; padding: 4px 0px; }
.rb1 label { display: inline-block; cursor: pointer; position: relative; padding-left: 25px; margin-right: 15px; }
.rb1 input[type="checkbox"] { display: none; }
.rb1 label::before { content: ""; display: inline-block; width: 14px; height: 14px; border-radius: 8px; border: 1px solid rgb(127, 157, 185); margin-right: 10px; position: absolute; left: 0px; top: 1px; background-color: rgb(255, 255, 255); }
.rb1 input[type="checkbox"]:checked + label::after { content: ""; display: inline-block; width: 8px; height: 8px; border-radius: 4px; margin-right: 12px; position: absolute; left: 4px; top: 5px; background-color: rgb(49, 63, 102); }
.info1Cont { position: relative; }
.info1 { margin: 10px 0px; padding: 0px 0px 0px 25px; }
.info1::before { content: ""; display: inline-block; width: 14px; height: 14px; border-radius: 8px; border: 1px solid rgb(127, 157, 185); margin-right: 10px; position: absolute; left: 0px; top: 1px; background-color: rgb(255, 255, 255); }
.info1::after { color: rgb(127, 157, 185); content: "!"; display: inline-block; font-size: 14px; font-weight: bold; left: 6px; position: absolute; top: 0px; }
.inp1 { margin: 3px 0px 3px -70px; }
.inp1 input { padding: 3px 30px 3px 3px; margin: 0px; width: 50px; text-align: right; }
.inp1 span { margin: 0px 12px 0px -25px; }
#spec { height: 200px; overflow: auto; }
#specBottomContainer { margin: 12px 0px; }
#specEmpty { margin: 0px; opacity: 0.6; padding: 15px 0px; text-align: center; }
#specHead { background: rgb(160, 181, 204) none repeat scroll 0px 0px; color: rgb(255, 255, 255); padding: 5px; text-align: center; }
.specBottom { margin: 8px 0px 2px; }
.calcCost { font-size: 18px; display: inline-block; margin: 0px; padding: 0px; height: 18px; }
.calcBtn { padding: 10px; background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(48, 62, 101), rgb(113, 141, 174)) repeat scroll 0% 0%; color: rgb(255, 255, 255); border-radius: 5px; cursor: pointer; text-align: center; }
#specBtnContainer { margin-top: 10px; }
#clearBtn { width: 83px; display: inline-block; float: left; margin: 0px 11px 0px 0px; }
#downloadBtn { width: 83px; display: inline-block; margin: 0px; }
#zakazBtnContainer { padding: 0px; margin: 0px; }
.fLeft { float: left; }
.ui-tabs-panel { height: 275px !important; position: relative; }
.ui-tabs-anchor { padding: 8px 6px !important; }
.row-1 { width: 370px; padding-right: 10px; float: left; }
.row-2 { width: 510px; float: left; }
.row-3 { margin-left: 70px; }
.row-4 { margin: 0px 20px 0px 70px; float: left; width: 420px; }
.rowHead { width: 100%; margin: 3px 0px 7px; padding: 0px; font-size: 18px; line-height: 13px; font-weight: bold; color: rgb(59, 73, 101); }
#calcTab3 .rowHead, #calcTab4 .rowHead, #calcTab5 .rowHead, #calcTab6 .rowHead, #calcTab7 .rowHead { padding: 10px 0px !important; }
#calcTab6 .rowHead { text-align: center; }
#shadowBox { position: fixed; width: 100%; height: 100%; background-color: rgb(51, 51, 51); opacity: 0.8; z-index: 1100; display: none; }
#popUp { position: fixed; width: 262px; height: 340px; background-color: rgb(218, 227, 235); z-index: 1101; display: none; }
#closeBar { text-align: right; margin: 0px; height: 23px; }
#closeBtnIco { cursor: pointer; margin-right: 5px; color: rgb(85, 85, 85); font-size: 16px; }
#popUp input { width: 180px; padding: 7px 5px 7px 35px; margin: 5px 20px; background-color: rgb(255, 255, 255); border: 1px solid rgb(127, 157, 185); }
#popUp textarea { width: 210px; height: 100px; padding: 5px; margin: 5px 20px; background-color: rgb(255, 255, 255); border: 1px solid rgb(127, 157, 185); resize: none; }
#clientName { background: rgba(0, 0, 0, 0) url('client.png') no-repeat scroll 5px center; }
#clientEmail { background: rgba(0, 0, 0, 0) url('mail.png') no-repeat scroll 5px center; }
#clientPhone { background: rgba(0, 0, 0, 0) url('phone.png') no-repeat scroll 5px center; }
#mailBtn, #closeBtn { width: 200px; margin: 10px 20px; text-align: center; border-radius: 5px; color: rgb(255, 255, 255); cursor: pointer; padding: 10px; }
#closeBtn { display: none; }
#sMsg, #fMsg { margin: 18px 0px; padding: 80px 20px; height: 62px; font-size: 18px; text-align: center; display: none; }
#noCost1, #noCost2 { font-style: italic; display: none; }



#modal_form {
	width: 300px; 
	height: 300px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 1405; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay {
	z-index:1403; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

#modal_form form input{
	padding: 10px;
	padding-left: 30px;
}