

@use "components/basic";
@use "components/variables" as *;



section.basic-section{
  padding-bottom: 100px;
}


header{
  padding: 30px 0;
  border-bottom: 1px solid rgba($emphasis-color, 0.1);
  .col-left{
    display: flex;
    align-items: flex-end;
    width: calc(100% / 12 * 8);

    nav{
      padding-left: 20px;
      ul{
        margin: 0;
        padding: 0;
        display: flex;
        li{
          list-style: none;
          a{
            padding: 20px 20px 0 20px;
            display: block;
            font-size: 16px;
            text-decoration: none;
            color: $color-gray;
          }
        }
      }
    }
  }
  .col-right{
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 12 * 4);
    .item{
      padding-left: 40px;
      &:first-child{
        padding-left: 0;
      }
    }
    .info-text{
      font-size: 12px;
      color: $color-green;
      padding-bottom: 5px;
    }
    .phone{
      font-size: 16px;
      font-weight: bold;
      color: $color-gray;
    }

    .social-list{
      .social-item{
        padding: 0 2px;
      }
    }
  }
}
.social-list{
  display: flex;
  a.social-item{
    line-height: 0;
    svg{
      transition-duration: 0.4s;
      path{
        transition-duration: 0.4s;

      }
    }
    &:hover{
      svg{
        path{
          fill:$emphasis-color;
        }
      }
    }
  }
}
.social-big{
  .social-desc{
    font-size: 12px;
    padding-bottom: 20px;
  }
  .social-list{
    .social-item{
      padding-right: 10px;
    }
    svg{
      width: 40px;
      height: 40px;
      path{
        fill: $color-green;
      }
    }
  }
}
.svg-icon_main-color{
  line-height: 0;
  path{
    fill:$emphasis-color;
  }
}
.svg-icon_text-color{
  line-height: 0;
  path{
    fill: $color-green;
  }
}
.full-image{
  line-height: 0;
  img{
    width: 100%;
  }
}
.col-mini-title{
  .mini-title {
    display: flex;
    align-items: flex-end;
    color: $color-green;
    font-size: 18px;
    .svg-icon_text-color {

      svg {
        width: 20px;
        height: 20px;
      }
    }
    span{
      padding-left: 10px;
    }
  }
}



section.first-screen{
  padding-top: 85px;
  padding-bottom: 60px;
  .row{
    align-items: flex-end;
  }
  .col-title{
    .title{
      font-size: 50px;
      line-height: 1;
      color: $emphasis-color;
    }
  }
  .col-left{
    width: calc(100% / 12 * 8);
  }
  .col-right{
    width: 50%;
    width: calc(100% / 12 * 4);
    //padding-left: 17%;
    box-sizing: border-box;
    .svg-icon_main-color{
      svg{
        width: 15px;
        height: 15px;
      }
    }
    .desc{
      padding-top: 32px;
    }
  }
  &.first-screen-margin{
    margin-bottom: 100px;
  }
}

.section-left-right {
  .col-left{
    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;
  }
  .col-right{
    width: 75%;
    //padding-left: 10px;
    box-sizing: border-box;
  }
}
.color-green{
  color:$color-green;
}
.section-title{
  font-size: 45px;
  padding-bottom: 40px;
  color: $color-gray;
}
.list-info-icons{
  display: flex;
  margin: 0 -10px;
  width: 100%;
  .item{
    width: calc(100% / 3);
    padding: 0 10px;
    color: $color-gray;
    .img{
      line-height: 0;
      padding-bottom: 35px;
      img{
        width: 51px;
      }
    }
    .item-title{
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
      font-family: Manrope;
    }
    .item-desc{
      font-size: 14px;
      font-family: Manrope;
    }
  }
}


.courses-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -10px;
  .item{
    width: 25%;
    padding: 10px 10px;
  }
  .more{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 8.3333333%;
    color: $color-gray;
    .title{
      font-size: 40px;
      padding-bottom: 20px;
      font-weight: 300;

    }
    .desc{
      font-size: 14px;
      line-height: 1.4;
      padding-bottom: 30px;
    }
  }
  .course-card{
    background-color: #F1F4F0;
    display: block;
    padding: 20px;
    color: $color-gray;
    font-family: Manrope;

    .first-line{
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      .title{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
      }
      .date{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 600;
        .number{
          font-size: 30px;
        }
        .month{
          font-size: 12px;
          margin-top: -5px;
        }
      }
    }
    .img{
      width: 100%;
      text-align: center;
      padding-bottom: 40px;
    }
    .desc{
      font-size: 14px;
      line-height: 1.4;
    }
  &.sales-card{
    @extend .sales-card;
  }

  }
}
.sales-card{
  background-color: $emphasis-color;
  color: $color-text-light;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title{
    text-transform: uppercase;
    font-family: Manrope;
    font-size: 20px;
    font-weight: bold;
    max-width: 225px;
  }
  .sales-number{
    font-size: 94px;
    font-family: KyivSans;
    text-align: center;
    span{
      font-size: 24px;
      font-weight: bold;
    }
  }
  .desc{
    display: flex;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 15px;
    .svg-icon_text-color{
      padding-right: 40px;
      svg{
        width: 20px;
        height: 20px;
        path{
          fill: $color-text-light;
        }
      }
    }
  }
}
.about-section{

  .about-content{
    display: flex;
    .about-left{
      width: 33.333333%;
      img{
        width: 100%;
      }
    }
    .about-right{
      width: 66.666666%;
      padding-left: 11.111111%;
      padding-right: 22.222222%;
      color:$color-gray;
      padding-top: 70px;
      .name{
        font-size: 30px;
        padding-bottom: 5px;
      }
      .position{
        font-size: 14px;
        padding-bottom: 20px;
        font-family: Manrope;
      }
      .desc{
        font-size: 14px;
        font-family: Manrope;
        line-height: 1.4;
        padding-bottom: 30px;
      }
    }
  }
}

.review-section{
  .col-right{
    position: relative;
    .swiper-navigation{
      bottom: 0;
    }
  }
  .review-list{
    width: 77.7777777%;
    .item{
      display: flex;

      .rev-left{
        width: 11.1111111%;
        img{
          border-radius: 46px;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .rev-right{
        width: 88.88888888%;
        padding-left: 20px;
        .desc{
          font-family: Manrope;
          font-size: 14px;
          padding-bottom: 30px;
          color: $color-gray;
        }
        .name{
          font-size: 20px;
          color:$emphasis-color;
          font-weight: bold;
          padding-bottom: 5px;
        }
        .position{
          font-size: 12px;
          color:$color-green;
        }

      }
    }
  }
}

.person-cards-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  .item{
    width: calc((100% / 3) - 20px);
    margin: 0 10px;
    padding: 20px;
    background-color: #F1F4F0;
    .img{
      padding-bottom: 20px;
    }
    .name{
      color: $emphasis-color;
      font-size: 20px;
      font-family: Manrope;
      padding-bottom: 5px;
      font-weight: bold;
      .svg-icon_main-color{
        margin-bottom: 5px;
        svg{
          width: 20px;
          height: 20px;
        }

      }
    }
    .position{
      font-size: 12px;
      padding-bottom: 20px;
      color: $color-gray;
    }
    .city{
      font-size: 14px;
      font-family: Manrope;
      font-weight: bold;
      color: $color-gray;

    }
    &.color-item{
      background-color: $emphasis-color;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        font-size: 40px;
        line-height: 1;
        font-weight: 300;
      }
      .bottom-line{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .desc{
        font-size: 14px;
        font-family: Manrope;
        width: calc(100% - 50px);
        padding-right: 20px;
      }
      .arrow{
      }
    }
  }
}
.specialist-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  .item{
    width: calc(100% / 9 * 3 - 20px);
    margin: 0 10px;
    padding: 20px;
    background-color: #F1F4F0;
    color: $color-gray;
    .first-line{
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
    }
    .name{
      text-transform: uppercase;
      white-space: pre-line;
      font-family: Manrope;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.4;
    }
    .img{
      width: 67%;
      margin: 0 auto;
    }
    .desc{
      font-size: 14px;
      font-family: Manrope;
      padding-top: 30px;
      line-height: 1.4;
    }
  }
}

.gallery-section{
  .section-title{
    position: relative;
  }
  .swiper-slide {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    img{
      height: 100%;
      max-width: max-content;
    }
  }
}

.form-section{
  .block-desc{
    width: calc((100% / 9) * 5);
    font-size: 14px;
    font-family: Manrope;
    line-height: 1.4;
    color: $color-gray;
    padding-bottom: 40px;
  }
  .block-single-input{
    display: flex;
    align-items: flex-end;
    .bs-left{
      width: calc((100% / 9) * 3);
      .title{
        color: $emphasis-color;
        padding-bottom: 5px;
        font-family: Manrope;
        font-size: 20px;
        line-height: 1.4;
        font-weight: bold;
        .svg-icon_main-color{
          padding-bottom: 5px;
          svg{
            width: 20px;
            height: 20px;
          }
        }
      }
      .desc-input{
        font-size: 12px;
        padding-bottom: 15px;
        color: $color-gray;
      }
      .form-single-input{
        position: relative;

        button{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          border: none;
          background-color: transparent;
          cursor: pointer;
          padding: 10px 0;
          svg{
            width: 20px;
            path{
              fill:$emphasis-color;
            }
          }
        }
      }
    }
    .bs-right{
      padding-left: 11%;

    }
  }
}
.form-section-second{
  .block-single-input .bs-left .desc-input{
    font-size: 14px;
    font-weight: bold;
    font-family: Manrope;
  }
}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-text-light;
  color: $color-gray;
  padding: 13px 0;
  font-family: Manrope;
  font-size: 14px;
  transition-duration: 0.4s;
  background-color: transparent;
  &::placeholder{
    font-family: Manrope;
    font-size: 14px;
    color: $color-green;
  }
  &:focus{
    outline: none;
    border-bottom-color: $color-green;
  }
}

footer{
  background-color: rgba($color-green, 0.2);
  padding: 60px 0;
  .first-row{
    padding-bottom: 60px;
  }
  .second-row{
    .col-left{
      width: calc(100% / 12 * 3);
    }
    .col-right{
      display: flex;
      width: calc(100% / 12 * 9);
      .contact-col{
        width: calc(100% / 9 * 4);
        .phone{
          font-size: 30px;
          color: $color-gray;
        }
        .bottom-line{
          padding-top: 40px;
          display: flex;
          .title{
            color: $color-green;
            font-size: 12px;
            padding-bottom: 5px;
          }
          .email-col{
            padding-right: 40px;
            a{
              font-family: Manrope;
              color: $color-gray;
              font-size: 14px;
              font-weight: bold;
            }
          }
          .social-col{
            .social-list{
              .social-item{
                padding-right: 5px;
              }
            }
          }




        }
      }
      .nav-col{
        display: flex;
        ul{
          list-style: none;
          padding: 0 60px 0 0;
          margin: 0;

          li{
            list-style: none;
            a{
              padding: 10px 0;
              display: block;
              color: $color-gray;
              font-size: 14px;
              font-family: Manrope;
            }
            &:first-child{
              a{
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
.breadcrumbs{
  padding-top: 24px;
  background-color: rgba($color-green, 0.2);
  padding-bottom: 40px;
  .item{
    color: $color-gray;
    padding-left: 10px;
    .svg-icon{
      display: inline-block;
      padding-right: 10px;
      svg{
        width: 10px;
        height: 10px;
        path{
          fill:$color-green;
        }
      }

    }
  }
}
.swiper-navigation{
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 110px;
  height: 50px;
  .swiper-button-prev,
  .swiper-button-next{
    width: 50px;
    height: 50px;
    border: 1px solid $color-green;
    border-radius: 50px;
    background-image: url('../images/arrow-1.svg');
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: unset;
    top: 0;

    &::after{
      display: none;
    }
  }
  .swiper-button-prev{
    left: 0;
    transform: rotate(180deg);
  }
  .swiper-button-next{
    right: 0;
  }
}
.home-page{
  .first-screen{
    .col-right{
      .desc{
        color: $emphasis-color;
      }
    }
  }
}
header{
  background-color: rgba($color-green, 0.2);
}
.first-screen{
  background-color: rgba($color-green, 0.2);
}
.about-page{
  header{
    background-color: rgba($color-blue, 0.2);
  }
  .first-screen{
    background-color: rgba($color-blue, 0.2);
  }
  .breadcrumbs{
    background-color: rgba($color-blue, 0.2);
  }
}
.single-specialist-page{
  header{
    background-color: transparent;
  }
  .breadcrumbs{
    background-color: transparent;
  }
  .breadcrumbs{
    padding-bottom: 60px;
  }
  .years-list{
    .item{
      display: flex;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-text-light;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        border-bottom: none;
        padding-bottom: 0;
      }

      .number{
        font-size: 30px;
        padding-right: 40px;
      }
      .desc{
        font-size: 14px;
        font-family: Manrope;
        line-height: 1.4;
      }
    }
  }
}
.all-courses-page{

  .courses-list{
    .first-card-courses{
      .title{
        font-size:40px;
        line-height: 1;
        padding-bottom: 20px;
        font-weight: 300;
      }
      .desc{
        font-size: 14px;
        line-height: 1.4;
        font-family: Manrope;
      }
    }
  }
  .show-more-row{
    padding-top: 40px;
  }
}

.representative-section-slider{
  .first-row{
    position: relative;
    .swiper-navigation{

    }
  }
  .person-cards-list{
    display: block;
    margin: unset;
    .item{
      width: 100%;
      margin: unset;
    }
  }

}
.info-text-section{
  .two-col-block{
    display: flex;
    .text-col{
      width: calc(100% / 9 * 7);
      .list{
        .item{
          padding-top: 30px;
          padding-bottom: 30px;
          border-bottom: 1px solid $color-text-light;
          .title{
            font-size: 30px;
            line-height: 1.4;
            padding-bottom: 15px;
          }
          .desc{
            font-size: 14px;
            font-family: Manrope;
            line-height: 1.4;

          }
          &:first-child{
            padding-top: 0;
          }
          &:last-child{
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
    .link-col{
      width: calc(100% / 9 * 2);
      text-align: right;
    }
  }
}
.single-course-page{
  header{
    background-color: transparent;
  }
  .breadcrumbs{
    background-color: transparent;
    padding-bottom: 60px;
  }


}
.buttons-line{
  display: inline-flex;
  align-items: center;
}
.course-section{
  .title{
    font-size: 50px;
    line-height: 1;
    color: $emphasis-color;
    padding-bottom: 60px;
  }

  .course-info{
    display: flex;
    .image-block{
      width: calc(100% / 9 * 3);
      padding-right: calc(100% / 9 * 1);
      box-sizing: content-box;

      img{
        width: 100%;

      }
    }
    .info-block{
      width: calc(100% / 9 * 5);
      .desc{
        padding-bottom: 40px;
      }
    }
    .numbers-line{
      display: flex;
      padding-bottom: 60px;
      .item{
        padding-right: 40px;
        &:last-child{
          padding-right: 0;
        }

        .name{
          font-size: 12px;
          color: $color-green;
          padding-bottom: 9px;
        }
        .number{
          font-size: 14px;
          font-family: Manrope;
          font-weight: bold;
        }
      }
    }
  }
  .buttons-line{
    padding: 5px;
    border-radius: 60px;
    border: 1px solid $color-green;
    .star-link{
      padding: 20px;
      margin-left: 5px;
    }
  }
}
.course-program{
  .title-line{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;

  }
}
.dropdown-list{
  .item{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-text-light;
    position: relative;
    padding-right: calc(100% / 9 * 2);
    &:last-child{
      border-bottom: none;
    }
    .title{
      padding-bottom: 15px;
    }
    .desc{
      font-family: Manrope;
      font-size: 14px;
      line-height: 1.4;
    }

    .arrow{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.big-form-section{
  .big-form-with-sales{
    display: flex;
    .col-sale{
      width: calc(100% / 9 * 3);
      padding-right: 10px;
      .sales-card{
        padding: 20px;
      }
    }
    .col-form{
      width: calc(100% / 9 * 6);
      padding-left: 10px;
    }
  }
  .form-block{
    padding: 40px;
    background-color: #F1F4F0;
    .title{
      font-family: Manrope;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.4;
      font-size: 20px;
      padding-bottom: 10px;
      color: $emphasis-color;
    }
    .desc{
      font-size: 14px;
      font-family: Manrope;
      padding-bottom: 40px;
      max-width: 320px;
    }
    .input-list{
      display: flex;
      padding-bottom: 20px;
      .item:first-child{
        margin-right: 20px;
      }
      input{
        width: 200px;
        border-bottom-color: $color-green;
      }
    }
    .star-link{
      margin-left: 10px;
      padding: 20px;
    }
  }
}

