body {
  font-family: Roboto;
  font-weight: normal;
}

section, header {
  border-bottom: none;
}

header {
  padding-bottom: 0;
}

nav.navbar {
  box-shadow: none;
  margin-top: 40px;
  position: absolute;
  width: 100%;
  .container {
    border-radius: 40px;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
  }

}

.intro-block {
  h1 {
    font-family: "Lato Black";
  }
  .desc {
    font-family: "Roboto Light";
    color: white;
    font-size: 24pt;
  }
}

.cloud {
  background-image: url(../img/cloudd.png);
  -ms-background-position-x: center;
  background-position-x: center;
  -webkit-background-size: cover;
  background-position-y: 75px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}

.about-photo {
  width: 440px;
  height: 440px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 0 4px 1px #00b0d7;
}

.light-text {
  color: #d6d6d6;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
}

.about {
  background-image: url("../img/bg-about.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 250px;
  h2 {
    color: #363636;
    font-size: 32px;
    font-weight: bold;
  }
  .text-block {
    padding-top: 50px;
  }
  .desc {
    font-size: 15px;
    line-height: 28px;
    color: #616161;
    padding-left: 50px;
    padding-top: 20px;
    p {
      padding-top: 30px;
    }

  }
}

.line {
  height: 5px;
  background-color: #00b0d7;
  width: 10000px;
  position: absolute;
}

#benefits-line.half-padding {
  padding-top: 50px;
}

#benefits-line {
  color: #616161;
  .list-benefits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .item-benefit{
      width: 33%;
    }
  }

  li {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .img {
    padding-right: 10px;
    img {
      width: 86px;
      height: 86px;
    }
  }
  .img,
  .info {
    display: inline-block;
  }
  .benefits-title {
    font-size: 24px;
    font-family: "Lato";
    font-weight: bold;
    margin-bottom: 0;
  }
  .benefits-desc {
    font-size: 18px;
    line-height: 24px;
  }
}

.portfolio {
  background-image: url("../img/bg-portfolio.png");
  -webkit-background-size: cover;
  background-size: cover;
  min-height:700px;

  .all-portfolio {
    .portfolio-list {
      display: none;
    }
    .portfolio-list:first-child {
      display: block;
    }
  }
  .line {
    right: 0;
  }
  .text {
    color: #363636;
    font-size: 32px;
    font-weight: bold;
  }
  .cat {
    margin-top: 60px;
    li {
      overflow: hidden;
      display: inline-block;
      padding: 5px;
      width: 100%;
      transition-duration: 0.4s;
      position: relative;
      cursor:pointer;
    }
    li:hover {
      padding-left: 25px;
      color: #00b0d7;
      font-weight: 400;
    }
    li:before {
      content: '→';
      color: black;
      position: absolute;
      line-height: 0px;
      left: -17px;
      transition-duration: 0.4s;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 5px;

    }
    li:hover:before {
      left: 5px;
    }
  }
  .item {
    padding: 25px;
    margin: 30px;
    max-width: 40%;
    border: 1px solid #bdbdbd;
    transition-duration: 0.4s;
    background-color: #fff;
    img {
      width: 100%;
      height: 100%;
      max-height: 200px;
      object-fit: contain;
    }
  }
  .item:hover {
    border: 1px solid #00b0d7;
    box-shadow: 0 0 44px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);

  }
  .portfolio-list .portfolio-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}

.form {
  padding-bottom: 400px;
  .light-text {
    color: #0093b3;
  }
  .data-list {
    color: #00687f;
    line-height: 32px;
    i {
      color: white;
      opacity: 1;
      top: 8px;
    }
  }
  .title {
    font-family: "Lato";
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: white;
  }
  form {
    border-top: none;
    margin: 0 auto;
    color: white;
  }
  .half {
    width: 48%;
    display: inline-block;
  }
  .half:nth-child(2) {
    margin-left: 2%;
  }
  #contact_submit{
    margin-top: 20px;
  }
  .form-group {
    border-bottom: 1px solid white;
    color: white;
  }
  input.form-control {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  input::-moz-placeholder {
    color: white;
  }
  input::-webkit-input-placeholder {
    color: white;
  }
  textarea {
    resize: none;
  }
  textarea::-moz-placeholder {
    color: white;
  }
  textarea::-webkit-input-placeholder {
    color: white;
  }
  button {
    width: 160px;
    margin-top: 20px;
  }
}

.form-line {
  left: 30%;
  width: 40%;
}

.navbar.footer-menu {
  position: static;
  margin-top: 30px;
  margin-bottom: 30px;
  .nav li a {
    color: #00aced;
  }
  .nav li a:hover {
    font-weight: 500;
  }
}

ul.soc {
  list-style: none;
  li {
    display: inline-block;
    padding-right: 30px;
  }
}

footer {
  padding: 0;
  background-color: #007791;
  color: white;
  font-size: 16px;
  line-height: 80px;
  font-weight: 100;
  .editContent {
    a {
      font-weight: 400;
    }
  }
}

#cloud-parallax {
  .big-cloud {
    margin-left: -399px;
    margin-bottom: -20px;
  }
  .first-cloud {
    margin-top: 100px;
  }
  .second-cloud {
    margin-top: 110px;
    img {
      margin-left: 130%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .portfolio {
    .item {
      //width:320px;
    }
  }
}
@media screen and (max-width: 992px) {
  nav.navbar .container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .form button {
    margin: 0 auto;
  }
  .navbar.footer-menu {
    .navbar-brand {
      float: none;
    }
    .nav {
      display: flex;
      justify-content: center;
    }
    .row [class^=col-] {
      padding-bottom: 10px;
    }
  }
  .portfolio {
    padding-top: 10px;
    .cat {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        width: 33%;
      }
      a {
        padding-right: 40px;
      }
    }
  }
  #benefits-line{
    .list-benefits{
      .item-benefit{
        width: 75%;
      }
    }
    li{
      margin-bottom: 30px;
    }
  }
  .about {
    .desc{
      padding-left: 0;
    }
  }
  .line{
    left: -1000px;
  }
  .about{
    padding-bottom:300px;
  }
  .about-photo{
    width: 290px;
    height: 290px;
  }
  footer{
    .row [class^=col-]{
      padding-bottom: 10px;
    }
  }
}
@media screen and (max-width: 610px) {
  .portfolio .item {
    max-width: 90%;
  }
  #benefits-line li {
    flex-wrap: wrap;

    .img,
    .info{
      width: 100%;
    }
    .list-benefits .item-benefit{
      width: 95%;
    }
  }
  .about{
    padding-bottom: 400px;
    .cloud{
      -ms-background-position-y: 100px;
      background-position-y: 100px;
    }
  }
  .form {
    .half{
      width: 100%;
    }
    .half:nth-child(2){
      margin-left: 0;
    }
    #contact_submit{
      margin-top: 20px;
    }
  }
  nav.footer-menu .container{
    width: 100%;
    margin: 0 auto;
    .nav{
      flex-wrap: wrap;
    }
  }
}