@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(../css/font/Arvo/Arvo.ttf) format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), url(../css/font/Roboto/Roboto-Regular.ttf) format('ttf');
}
/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), url(../css/font/Roboto/Roboto-Bold.ttf) format('ttf');
}*/
@font-face {
  font-family: 'Roboto Black';
  src: url(../css/font/Roboto/Roboto-Black.ttf) format('ttf');
}/*
@font-face {
  font-family: 'fonta77b7fc4cf040eb5bb26b0685893a9df';
  src:    url('https://nomail.com.ua/files/eot/a77b7fc4cf040eb5bb26b0685893a9df.eot?#iefix') format('embedded-opentype'),
  url('https://nomail.com.ua/files/woff/a77b7fc4cf040eb5bb26b0685893a9df.woff') format('woff'),
  url('https://nomail.com.ua/files/woff2/a77b7fc4cf040eb5bb26b0685893a9df.woff2') format('woff2');
}

@font-face { font-family: 'Roboto-Black';  src: local('Roboto-Black'), url('https://nomail.com.ua/files/woff/a77b7fc4cf040eb5bb26b0685893a9df.woff') format('woff'); }
*/

